body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    background-color: #3498db; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }